.content
  &__inner
    max-width 1040px
    margin auto
    padding 0 20px
    overflow hidden
  &__page
    font-size 0
    transition opacity .6s, visibility .6s
    opacity 0
    visibility hidden
    height 0
    overflow hidden
    &.is-visible
      visibility visible
      opacity 1
      height auto
  &__status
    position relative
    height 180px
    > div
      position absolute
      display flex
      flex-direction column
      justify-content center
      align-items center
      text-align center
      width 100%
      height 100%
      opacity 0
      visibility hidden
      transition 0s
    &[s=loading] .content__status-loading
    &[s=end] .content__status-end
    &[s=error] .content__status-error
    &[s=empty] .content__status-empty
        transition .6s
        opacity 1
        visibility visible

    &-loading
      text-transform uppercase
      color $base-sub
      i
        font-size 11px
        font-style normal
        vertical-align 2px
        margin 0 2px
        animation fade .8s infinite both ease-in-out-sine
        &:nth-child(1)
          margin-left 7px
          animation-delay .2s
        &:nth-child(2)
          animation-delay .3s
        &:nth-child(3)
          animation-delay .4s

    &-end
      span
        font-size 22px
        font-weight 100
        color lighten(#838c93, 50%)
        margin-bottom 13px
        &:before
        &:after
          content '‒'
          margin 0 7px
      a
        display block
        width 70px
        border-radius 3px
        box-shadow 0 1px 2px 1px #dbdfe0
        padding 7px 12px 6px
        background #fff
        transition color .1s, background .1s
        &:hover
          background #fafafa

    &-error
    &-empty
      text-transform uppercase
      color darken(#e88d93, 12%)
    &-empty
      img
        height 100px
        margin-top 10px
        border-radius 8px

  &__tweet
    width 100%
    display inline-block
    vertical-align top
    min-height 160px
    padding 5px 5px 20px
    background url('../img/skull.png') no-repeat center 70px
    background-size auto 50px
    &-number
      display block
      font-size 16px
      color rgba(#000, 15%)
      margin 0 0 3px 12px

  +above(560px)
    &__tweet
      width 50%
      padding-bottom 30px

  +above(900px)
    &__tweet
      width 33%
