.text
  &-left
    text-align left
  &-right
    text-align right
  &-center
    text-align center
  &-lowercase
    text-transform lowercase
  &-uppercase
    text-transform uppercase

.hide
  display none

.show
  display block

.twitter-tweet
  padding 0 !important
  margin 0 !important
