.footer
  padding 30px 0
  text-align center
  color #838c93
  &__by
    margin-bottom 10px
    i
      font-size 11px
      color #aaa
      margin 0 10px
  &__info
    font-size 14px
    font-weight 100
    color lighten(#838c93, 30%)

  +above(560px)
    padding 45px 0
