mixin footer()
  .footer
    .footer__inner
      .footer__by
        span by <a href='https://github.com/ilyashubin' target='_blank'>Shubin Ilya</a>
        i.fa.fa-circle-thin
        span project on <a href='https://github.com/ilyashubin/AwesomeUnderhood' target='_blank'>Github</a>
      p.footer__info.
        твиты обновляются каждые 12 часов
